<div @slidein1 id="heading">
    <p class="heading">Get in Touch</p><br>
</div>
<form @viewin class="row-cols-lg-3 my-1 ">

    <div class="container my-3">
        <div class="row-md-6">
            <label class="form-label txtcolor"> Name</label>

            <input class="form-control" type="text">
        </div>
    </div>

    <div class="container my-3">
        <div class="row-md-6">
            <label class="form-label txtcolor">Email</label>
            <input class="form-control" type="text" placeholder="name@gmail.com">
            
        </div>
    </div>

    <div class="container my-3">
        <div class="row-md-6">
            <label class="form-label txtcolor">Message</label>
            <input class="form-control" type="text">
           
        </div>
    </div>



    <div class="container my-2 text-center ">
        <button type="submit" class="glow-on-hover">Send</button>
    </div>


</form>