* {
    scroll-behavior: smooth;
}

#heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    color: yellow;
    font-size: 50px;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    font-family: 'Josefin Sans', sans-serif;
}

.sub-heading {
    color: whitesmoke;
    font-size: 25px;
    margin-top: -20px;
    padding: 0;
    letter-spacing: 3px;
    word-spacing: 3px;
}

.project-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}

.scroll {
    scroll-behavior: smooth;
    width: 100%;
    height: 486px;
    overflow-x: hidden;
    overflow-y: scroll;

}

.scroll::-webkit-scrollbar {
    display: none;
}

/* 
.card {
    position: relative;
    width: 300px;
    height: 150px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 13px 40px rgb(0, 0, 0);
    transition: 0.5s;
    margin-right: 50px;
    margin-left: 50px;
}

.card:hover {
    height: 350px;
    width: 350px
}

.card:hover .screenshot {
    height: 150px;
    width: 250px;
}

.screenshot {
    background-color: #000000;
    height: 110px;
    width: 200px;
    left: 50%;
    top: -50px;
    position: absolute;
    border-radius: 20px;
    transform: translateX(-50%);
    box-shadow: 0 1px 100px 1px black;
    overflow: hidden;
    transition: 0.5s;
}

.screenshot img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
}

.card .content .details {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(180px);
}

.card .content .details p {
    font-size: 30px;
    font-weight: bolder;
}

.card:hover .content .details {

    transform: translateY(0);
}

.card .content .details h2 {
    margin-bottom: 20px;
}

.card .content .lang {
    margin-right: 170px;
}

.card .content .lang p {
    font-size: 20px;
    font-weight: bolder;
}

.card .content .details .data {
    font-weight: bolder;
    font-size: 18px;
}

.card .content .details .data span {
    margin-right: 20px;
    padding: 10px;
    align-items: baseline;
}

.card .content .details .data span::before {
    margin-right: 10px;
    margin-top: 10px;
    content: "\2022";
} */

.card {
    position: relative;
    display: block;
    height: 75%;
    width: 90%;
    border-radius: 45px;
    overflow: hidden;
    text-decoration: none;
}

.card__image {
    width: 100%;
    height: auto;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 45px;
    background-color: white;
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: 45px;
    background-color: white;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}



.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: .8em;
    color: #D7BDCA;
}



.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}