@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@100;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
 
a {
    color: #ffffff;
    transition: 0.5s;
}

a:hover {
    color: #ffffff;
    transform: scale(1.1);
    
}

