<div class=" piccontainer">
    <div class="textcontainer">
        <h1 class="h1text">
            <p>Hi There,</p>
            <h2 class="name"><p>I'm &nbsp;</p><p class="h">Rahul R</p>
            </h2>
        </h1>
        <h3 class="h1text1">
            I Am into Full stack &nbsp; <b class="w">Development !</b>
        </h3>

        <div class="aboutbtn">
            <a class="button-85" href="">
                About Me
            </a>
        </div>
        <div class="social">
            <a href="https://github.com/RahulR001" target="_blank"><img class="a" style="border-radius: 1000px;"
                    src="../../assets/img/gh.png" width="25%"></a>
            <a href="https://www.facebook.com/rahulsquads" target="_blank"><img style="border-radius: 1000px;"
                    src="../../assets/img/in.jpg" width="25%"></a>
            <a href="https://instagram.com/r.a.h.u.l__________r?utm_medium=copy_link" target="_blank"><img
                    src="../../assets/img/ig.png" width="25%"></a>
            <a href="https://www.facebook.com/rahulsquads" target="_blank"><img src="../../assets/img/fb.jpg"
                    width="25%"></a>
            <a href="https://twitter.com/RahulSquads?t=xVzp0BRzi2AFbj6XWqADuw&s=09" target="_blank"><img
                    src="../../assets/img/tw.png" width="25%"></a>
        </div>
    </div>
    <img class="pic" src="../../assets/img/Rahul.png" alt="">
</div>