.name {
    display: flex;
    flex-direction: start;
    color: white;
    font-size: 45px;
}
a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}

a:hover {
    color: #ffffff;
    transform: scale(1.1);
    transition: 0.5s;
}
.h {
    color: red;
    font-size: 45px;
}

.w {
    color: yellow;
    font-size: 30px;
}

.social {
    margin-right: 140px;
    margin-top: 29px;
}

.social img {
    width: 36px;
    margin-left: 10px;
}

.h1text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    color: white;
}

.h1text1 {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    color: white;
}

.piccontainer {
    display: flex;
    justify-content: center;
    text-align: end;
    border: 0;
    padding: 0;
    margin-top: -30px;
}

.pic {
    text-align: right;
    border-radius: 100%;
    border-color: red;
    height: 20%;
    width: 20%;
    margin-top: 50px;
    margin-left: -48px;
    border: 3px solid;
    margin-top: 125px;
    margin-right: -86px;
}

.textcontainer {
    margin-top: 196px;
    margin-right: 360px;
    margin-left: -64px;
}

.aboutbtn {
    margin: 45px;
    display: flex;
    justify-content: center;

}

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 1000px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: 3px;
    left: 4px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + -7px);
    height: calc(100% + -7px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 1000px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 1000px;
}